*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    scroll-behavior: smooth;    
    background-color: #20b2ab85;
    min-width: auto;
   
}

body{
    font-family: 'Open Sans', 'sans-serif';
    width: 100%;
    min-width: auto;
}


main{
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 90%;
    margin: auto;
    background-size: cover;
    
}


/* SECCION ENCABEZADO */

header{
    text-align: center;
    background-image: linear-gradient(to right, hsla(0, 0%, 0%, 0.686), hsla(250, 14%, 25%, 0.67)), url("../img/tecnico.png");
    opacity: 4;
    background-size: cover;
    position: relative;
    background-position: center;
    background-position-y: top;
    background-attachment: scroll;
    height: 350px;
    width: auto;
    min-width: auto;
    max-width: 100%;
    padding-top: 50px;
    /* margin-bottom: 10px; */
}

h1 {
   
    text-align: center;
    font-size: 40px;
    margin: 30px 0 30px 0;
    font-family: "Libre Baskerville";
    color: aliceblue;    
}
h2 {
    text-align: center;
    font-size: 15px;
    margin: 30px 0 30px 0;
    font-family: "Libre Baskerville";
    color: aliceblue;    
}

/* body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    min-height: 600px;
    bottom: 0;
    min-width: 400px;
       
} */

nav{
    display: flex;
    margin-left: 10px;
    justify-content: center;
    margin-top: 40px;

}
nav{
    text-align: center;
    margin: 15px;
    min-width: 412px;
}

nav a{
    text-decoration: none;
    color: rgba(9, 9, 14, 0.9);
    border: 2px solid #1f928d;
    border-radius: 20px;
    text-align: center;
    padding: 5px 10px;
    background-color: rgb(62, 153, 138);
    font-weight: bolder;
    font-size: 15px;
    margin: 5px;

}

nav a:hover{
    background-color: #20b2ab85;
    color: rgb(255, 255, 255);
    transition: .7s;
    font-size: large;
}

nav a:active{
    background-color: rgba(137, 43, 226, 0.646);
    color: rgb(62, 3, 62);
    border: 2px solid black;

}





/* seccion login */
.login{
    display: flex;
    justify-content: center;
    text-align: center;
    min-width: auto;
}

.formulario{
    margin: 50px;
}

.formulario h1 {
    justify-content: center;
    display: grid;
    color: rgb(4, 59, 50);
    text-align: center;
    font-size: 60px;
    
    margin-bottom: 15px;
    border-bottom: 2px solid black;
}

.img-contac img{
    height: 450px;
}


.cont-formulario{
    display: inline-flex;
    padding: 0px 70px 0px 70px; 
}


input{
    width: 400px;
    height: 40px;
    background-color: rgba(62, 153, 138, 0.34);
    color: white;
    font-weight: bolder;
    font-style: italic;
    font-size: 15px;
    border-radius: 50px;
    border: 2px solid black;
    /* margin-top: 40px; */
    /* margin-bottom: 5px; */
    padding: 15px;

}

.icono-usuario{
    width: 30px;
    height: 30px;
    margin: 5px 5px 0 0;
}
.username{
    display: flex;
    justify-content: center;
    margin: 40px 0   
}

.icono-password{
    display: flex;
    width: 30px;
    height: 30px;
    margin: 5px 5px 0 0;
}

.password{   
    display: flex; 
    justify-content: center ;
    margin: 40px 0 5px 0;
    
}


.btn-dato{
    background-color: rgb(62, 153, 138);
    color: rgba(44, 5, 5, 0.752);
    text-decoration: none;
    padding: 5px 10px;
    margin: 10px;
    text-align: center;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
    font-size: 15px;
    margin-top: 40px;
}

.btn-dato:hover{
    background-color: #20b2ab85;
    color: rgb(255, 255, 255);
    border: 2px double #1f928d;
    transition: .3s;
    font-size: large;
}

.btn-dato:active{
    background-color: rgba(137, 43, 226, 0.646);
    color: rgb(62, 3, 62);
    border: 2px solid black;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 230px;
}

a:hover{
    color: rgba(92, 7, 92, 0.408);
    text-decoration: underline;
    
}

a:active{
    color: blue;
}







/* SECCION FOOTER */

.contenedor-footer {
    padding-top: 30px;
    text-align: center;
    text-wrap: balance;
    border-top: 0.2mm solid rgba(78, 77, 77, 0.105);
}

