html {
    scroll-behavior: smooth;
    max-width: 99%;
    min-width: auto;
    scroll-behavior: smooth;
    padding: 10px 20px 10px 20px;
}

header{
    margin-bottom: 15%;
    background-size: cover;
    width: auto;
    min-width: auto;
    max-width: 100%;
    
}

body {
    
    background-color: #20b2ab85;
    /* background-image: linear-gradient(to right, hsla(127, 78%, 39%, 0.502), #20b2aba6), url(img/fondo-login.png); */
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    min-height: 600px;
    bottom: 0;
    width: 100%;
}


body {
    font-family: Arial, sans-serif;
}



h2 {
    font-family: "Libre Baskerville";
    text-align: center;
    font-size: 80px;
    color:white;
    margin-top: 50px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 80%;
    padding: 5px;
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

.form-group button {
    
    max-width: 100%;
    min-width: auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}




.form-group button:hover {
    background-color: #0056b3;
}
.content{
    /* display: flex; */
    width: 40%;
    display: inline-block;
    /* margin-left: 3%; */
    padding:50px 0 50px 0;
    margin: 0 0 0 80px;
    border: solid white;
    height: 100%;
    text-align: center;
    border-radius: 30px;

}

  .carrusel {
      display: flex;
      overflow: hidden;
      width: 100%;
      /* height: 300px; */
  }

  .carrusel img {

      padding: auto;
      margin: 2px;  
      width: 100%;
      height: 250px;
      object-fit: cover;
      border: 2px solid white;
      border-radius: 5px;
  }

  .carrusel button {
      position: absolute    ;
      top: 100px;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: 1px solid white;
      cursor: pointer;
      padding: 10px 20px;
      font-size: 20px;
  }

  .carrusel button:hover {

      background-color: rgba(0, 0, 0, 0.7);
  } 

  #izquierda {
   left: 0;
  }
    
     


  #derecha {
        
      right: 0;
     
  }

  
  
.contenedor-footer{
    position: relative;
    text-align: center;
    color: white;
    transform: translateY(-50%);
}
  
.clearfix{
    clear: both;
}



.imgLogo {
    /* align-items: center; */
    /* width: 800px; */
    /* position: relative; */
    max-width: 50%;
    min-width: 20%;
    display: flex;
    
    float: right;
    transform: translateY(-105%);
    margin: 20px 20px 60px 20px;
    /* border-radius: 30px; */
    
}
.img {
    width: 90%;
    border: solid white 3px;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 500px;
}

.button {
    
    margin: 30px;
    float: inline-start;
    position: relative;
    text-align: center;

}